@import url(./styles/header.css);
@import url(./styles/banner.css);
@import url(./styles/metricas.css);
@import url(./styles/talentos.css);
@import url(./styles/vagas.css);

:root {
    --cor-de-fundo: #FFFFFF;
    --sombra-fundo: #F9FAFB;
    --preto: #3A404E;
    --azul: #667085;
    --vermelho: #8E2424;
    --preto2: #101828; 
    --cinza: #98A2B3;
    --borda-escura: #D0D5DD;
    --borda-clara: #F9FAFB;
    --borda-cinza: #EAECF0;
    --fundo-sub: rgba(142, 36, 36, 0.05);

    --ff-inter: 'Inter', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semiBold: 600;

    --fs-1: 14px;
    --fs-2: 16px;
    --fs-3: 18px;
    --fs-4: 20px;
    --fs-5: 36px;
    --fs-6: 48px;
    --fs-7: 60px;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--ff-inter);
    font-size: var(--fs-2);
    font-weight: var(--fw-regular);
}



